/*@font-face {*/
    /*font-family: 'Helvetica Neue';*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*@font-face {*/
    /*font-family: 'Helvetica Neue';*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
/*}*/

/*html body, html body * {*/
    /*font-family: 'Helvetica Neue' !important;*/
    /*outline: none !important;*/
/*}*/
html body *{
    font-family: Helvetica;
}

.font-bgr {
    background-image: url("../img/FONDO.png");

}
.hex{
    width: 250px;
}

.pGeneral {
    text-align: center;
    padding-left: 250px;
    padding-right: 250px;
    width: 100%;
    font-size: 23px;
    line-height: 1.6;
    font-weight: 400;
}

.col-sm-4 {
    padding-left: 0;
    padding-right: 0;
}


#hex {
    width: 50%;
    font-size: 23px;
    line-height: 3.6;
    font-weight: 400;
}

h4 {
    color: #69422c !important;
    font-size: 25px !important;
    line-height: 1.7;
    font-weight: 500;
    text-align: justify;
}


@media screen and (min-width: 600px) {
    h4 {
        margin-left: 20%;
        margin-right: 20%;
        text-align: justify;
    }
}

/*@media screen and (max-width: 800px) {*/
    /*h4 {*/
        /*text-align: justify;*/
        /*margin-left: 40%;*/
        /*margin-right: 40%;*/
    /*}*/
/*}*/

h5{
    color: #69422c !important;
    font-size: 20px !important;
    line-height: 1.7;
    font-weight: 500;
    text-align: center;
}

.corr-pro{
    line-height: 2.5;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
    color: white;
    border-bottom-left-radius: 30px;
    border-top-left-radius:  30px;
    border-bottom-right-radius:  30px;
    border-top-right-radius: 30px;
    height: 60px;
    width: 330px;
    background: #69422c;
    border: transparent;

}

.footer-items{
    color: #69422c;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    text-align: justify;
    font-family: Helvetica;
}

.nue-pro{
    line-height: 2.5;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: white;
    border-bottom-left-radius: 30px;
    border-top-left-radius:  30px;
    border-bottom-right-radius:  30px;
    border-top-right-radius: 30px;
    height: 70px;
    width: 230px;
    background: #69422c;
    border: transparent;
}

.inne-marca{
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
}
.content-marca1{
    height: 100px;
    display: table;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

h6{
    color: #69422c !important;
    font-size: 20px;
    text-align: justify;
}
#lnkCompra {
    color: white;
    font-size: 45px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    height: 90px;
    width: 426px;
    background: #69422c;
    border: transparent;
}

.nues-tro {
    color: #69422c !important;
    font-weight: 400 !important;
    font-size: 121px;
    line-height: 1.0;
    font-style: normal;
}
.nues-tro1{
    color: #69422c !important;
    font-weight: 500 !important;
    font-size: 70px;
    font-style: normal;
}
#img-text {
    background: #69422c;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    height: 616px!important;
    width: 52% !important;
    border: transparent;

}

#puntoApi {
    color: white;
    border-top-left-radius: 91px;
    border-bottom-right-radius: 55px;
    height: 50px;
    width: 57%;
    background: #69422c;
    float: right;
    border: transparent;
    text-align: center;
    font-weight: 500;
    font-size: 23px;
    line-height: 2.5;
    margin-top: -51px;
    margin-right: 22px;
}

#img-text-2 {
    background: white;
    width: 90%;
    height: 52%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}


@media screen and  (max-width: 1400px) {
    #img-text {
        background: #69422c;
        border-bottom-left-radius: 40px;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
        border-top-right-radius: 40px;
        height: 470px  !important;
        width: 65% !important;
        border: transparent;
    }
    #img-text-2 {
        background: white;
        width: 92%;
        height: 47%;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    #puntoApi {
        color: white;
        border-top-left-radius: 90px;
        border-bottom-right-radius: 86px;
        height: 51px;
        width: 67%;
        background: #69422c;
        float: right;
        border: transparent;
        text-align: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 2.5;
        margin-right: 7px;
    }
}

#abv{
    height: 210px;
    width: 260px;
}
.miel-deg {
    font-weight: 300;
    line-height: 0.1;
    font-style: normal;
    font-size: 66px;
    color: #69422c;
}

.abj-deg {
    line-height: 0;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: #69422c;
}

.img-center {
    width: 50%;
    height: auto;
    display: block;
    overflow: auto;
    margin: 5px auto;
}

.fond-text-span {
    background-color: #FFFFFF;
    width: 80%;
    border-radius: 68px 0px 0px 0px;
    -moz-border-radius: 68px 0px 0px 0px;
    -webkit-border-radius: 68px 0px 0px 0px;
    /*! border: 0px solid #000000; */
    float: right;
    overflow: auto;
    position: relative;
    margin-top: -70px;
    height: 70px;
    text-align: center;
}

.text-bottom {
    font-size: 21px;
    font-weight: 700 !important;
    font-style: normal;
    line-height: 3.3 !important;
    overflow: auto;
    text-align: left;
    color: #69422c;
}

#deb-a {
    color: white;
    border-top-right-radius: 100px;
    height: 75px;
    width: 300px;
    background: #69422c;
    position: relative;
    float: left;
    border: transparent;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 2.1;
}

.cf-c {
    background: #835b3b;
    color: #FFFFFF;
    height: 190px;
    font-size: 20px;
}

.cf-o {
    background: #9f7456;
    color: #FFFFFF;
    height: 190px;
    font-size: 20px;

}

.vid-pr{
    background: #69422c;
    color: #FFFFFF;
    width: 58%;
    -moz-border-radius: 100px 0px 0px 0px;
    -webkit-border-radius: 130px 0px 0px 0px;
    float: right;
    overflow: auto;
    position: relative;
    height: 150px;
    text-align: left;
    font-size: 33px;
    padding-left: 46px;
}

.vid-pr1{
    background: #69422c;
    color: #FFFFFF;
    width: 58%;
    -moz-border-radius: 100px 0px 0px 0px;
    -webkit-border-radius: 130px 0px 0px 0px;
    float: right;
    overflow: auto;
    position: relative;
    height: 150px;
    text-align: left;
    font-size: 33px;
    padding-left: 66px;
   }



.vid-pr2{
    width: 130%;
    position: relative;
    height: 150px;
    line-height: 4.1;
}

.cf-mc {
    background: #69422c;
    color: #FFFFFF;
    height: 190px;
    font-size: 20px;
}