/* Included color classes.. 
    .red 
    .blue 
    .green
    .orange
    .navy 
*/
/* Icon set - http://ionicons.com/ */
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1165 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #000000;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}
figure.snip1165 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1165 img {
  max-width: 100%;
  vertical-align: top;
}
figure.snip1165 figcaption {
  position: relative;
  background-color: #ffffff;
  padding: 20px 25px 50px;
}
figure.snip1165 h3 {
  position: absolute;
  bottom: 100%;
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 0 5px 0 0;
  margin: 0;
  left: 0;
  font-weight: 400;
  background-color: #000000;
  color: #ffffff;
}
figure.snip1165 h3 span {
  font-weight: 800;
}
figure.snip1165 p {
  font-size: 1.1em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
}
figure.snip1165 .icons {
  position: absolute;
  bottom: 0;
  right: 25px;
}
figure.snip1165 i {
  margin: 0 2px;
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #000000;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 0 0;
}
figure.snip1165 i:hover {
  background-color: #000000;
  color: white !important;
}
figure.snip1165 a {
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #67b94a;
  line-height: 40px;
  padding: 0 10px;
  color: white!important;
  font-weight: 800;
  font-size: 0.9em;
  text-transform: uppercase;
}
figure.snip1165 a:before {
  position: absolute;
  right: 100%;
  border-style: solid;
  border-width: 0 0 40px 12px;
  border-color: transparent transparent #67b94a;
  content: '';
  top: 0;
}
figure.snip1165.blue {
  background-color: #2472a4;
}
figure.snip1165.blue figcaption:after,
figure.snip1165.blue h3,
figure.snip1165.blue i {
  background-color: #2472a4;
}
figure.snip1165.red {
  background-color: #ab3326;
}
figure.snip1165.red figcaption:after,
figure.snip1165.red h3,
figure.snip1165.red i {
  background-color: #ab3326;
}
figure.snip1165.green {
  background-color: #229955;
}
figure.snip1165.green figcaption:after,
figure.snip1165.green h3,
figure.snip1165.green i {
  background-color: #229955;
}
figure.snip1165.orange {
  background-color: #d67118;
}
figure.snip1165.orange figcaption:after,
figure.snip1165.orange h3,
figure.snip1165.orange i {
  background-color: #67b94a;
}
figure.snip1165.navy {
  background-color: #2b3c4e;
}
figure.snip1165.navy figcaption:after,
figure.snip1165.navy h3,
figure.snip1165.navy i {
  background-color: #2b3c4e;
}
figure.snip1165:hover img,
figure.snip1165.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}